@import "../../assets/styles/_variables.scss";
.cartRow {
  display: flex;
  justify-content: space-evenly;
}
.productsCol {
  flex: 2;
  background: $primary-color;
  max-width: 60%;
  border-radius: 0.5rem;
}
.cartInfoText {
  color: $primary-text-color;
  text-align: center;
}
.summaryCol {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  color: $primary-text-color;
  background: $secondary-color;
  max-width: 25%;
  height: 200px;
  padding: 1rem;
  border-radius: 0.5rem;
}
.summaryHeaderWrap {
  text-align: center;
  margin: 0 1rem 0 1rem;
  border-bottom: 0.1rem solid $thirdy-color;
  h2 {
    margin: 0;
  }
}
.summaryShippingInfoWrap {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem 0 1rem;
}
.summaryAmountInfoWrap {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem 0 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid $thirdy-color;
}

.summaryButtonWrap {
  margin-top: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  a {
    text-align: center;
    height: 2rem;
    width: 8rem;
    padding: 1rem 0 0 0;
    margin: 1rem 0rem 0 1rem;
    border-radius: 60px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #f0a04b;
    text-decoration: none;
  }
  a:hover {
    background-color: $secondary-button-color;
  }
}
