@import "../../assets/styles/_variables.scss";

.wrapper {
  height: 24rem;
  max-width: 32rem;
  background-color: $white-color;
  margin: 4rem auto;
  padding: 0 2rem 0 2rem;
  border-radius: 7px 7px 7px 7px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.productImg {
  float: left;
  display: flex;
  height: 100%;
}

.productImg img {
  height: 16rem;
  width: 11rem;
  object-fit: scale-down;
  margin-top: auto;
  margin-bottom: auto;
}

.productInfo {
  float: left;
  height: 100%;
  width: 327px;
  border-radius: 0 7px 10px 0px;
}

.productText {
  margin-bottom: 1rem;
  width: 327px;
}

.productText h1 {
  margin: 0 0 0 1rem;
  padding-top: 1rem;
  font-size: 34px;
  color: #5b8a72;
}

.productText h1 {
  font-family: "Bentham", serif;
}

.productText h2 {
  margin: 0.5rem 0 1rem 1rem;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #5b8a72;
  letter-spacing: 0.2em;
}

.productText p {
  margin: 0 0 0 1rem;
  color: #5b8a72;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productPriceWrap {
  display: inline-block;
  height: 50px;
  font-size: 2rem;
  margin: 0 0 0 1rem;
}

.productButtons {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
}

.productButtons button {
  height: 50px;
  width: 50%;
  margin: 0.5rem 25% 0.5rem 25%;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: $primary-button-color;
  cursor: pointer;
  outline: none;
}

.productPriceBtn button:hover {
  background-color: $secondary-button-color;
}
.productQuantity {
  display: flex;
}

.productQuantity input {
  height: 1.2rem;
  width: 100%;
  margin: 0.5rem 25% 0.5rem 25%;
  text-align: center;
  border: 1px solid $primary-button-color;
  border-radius: 1rem;
}
.productQuantity input:focus {
  width: 100%;
  margin: 0.5rem 25% 0.5rem 25%;
  text-align: center;
  border: 1px solid $primary-button-color;
  border-radius: 1rem;
}
