@import "../../assets/styles/_variables.scss";

.navbarSection {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $primary-color;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  .container {
    display: flex;
    justify-content: center;
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;

      min-height: 4rem;
      min-width: 40rem;
      .navbarBrand {
        color: $primary-text-color;
        text-decoration: none;
      }
      .navbarList {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        .navbarListItem {
          color: $primary-text-color;
          margin-right: 1rem;
          &:last-child {
            margin-right: 0;
          }
          .navbarLink {
            text-decoration: none;
            color: $primary-text-color;
          }
        }
      }
      .navbarCart {
        text-decoration: none;
        color: $primary-text-color;
      }
    }
  }
}
