@import "../../assets/styles/_variables.scss";

.row {
  display: flex;
  align-items: center;
  .subscribe {
    .form {
      display: flex;
      min-width: 40rem;
      .input {
        background-color: $primary-text-color;
        border: none;
        flex: 2.5;
        outline: 0;
        color: #000;
        min-height: 42.4px;
        padding: 0px 15px;
      }
      .button {
        flex: 1;
        display: inline-block;
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
        color: $primary-text-color;
        padding: 8px 30px;
        font-size: 15px;
      }
    }
  }
  .icons {
    margin-left: 1rem;
  }
}
