$primary-color: #183A1D;
$secondary-color: #F0A04B;
$thirdy-color: #61764B;
$primary-text-color: #FEFBE9;
$secondary-text-color: #5B8A72;
$light-purple: #a29ece;
$accept-green: #82ce34;
$dark-green: #70b52c;
$reject-red: #f15e5e;
$dark-red: #c94d4d;
