$primary-color: #183a1d;
$secondary-color: #f0a04b;
$thirdy-color: #61764b;
$primary-text-color: #fefbe9;
$secondary-text-color: #5b8a72;
$light-purple: #a29ece;
$accept-green: #82ce34;
$dark-green: #70b52c;
$reject-red: #f15e5e;
$dark-red: #c94d4d;
$primary-button-color: #f0a04b;
$secondary-button-color: #79b0a1;
