$primary-color: #252525;
$primary-text-color: #fff;
$light-purple: #a29ece;
$dark-purple: #6259ca;
$accept_green: #82ce34;
$dark_green: #70b52c;
$reject_red: #f15e5e;
$dark_red: #c94d4d;
$popup_background_light: #f7f7f9;
$dark_blue: #193b54;
$lightest-purple:#f3f2ff;

@mixin header-font-size {
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}