@import "./_variables.scss";

body {
  background-color: $thirdy-background-color;
  background-image: url("../images/backgroundShapes.png");
  background-blend-mode: color-dodge;
  margin: 0px;
  font-family: "Avenir LT Pro 55 Roman";
}
@font-face {
  font-family: "Avenir LT Pro 55 Roman";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir LT Pro 55 Roman"),
    url("../fonts/avenir_ff/AvenirLTProRoman.woff") format("woff");
}

* {
  font-family: "Avenir LT Pro 55 Roman";
  font-weight: 500;
}

// :root {
//   --background: white;
//   --text-primary: black;
//   --text-secondary: royalblue;
//   --accent: purple;
// }

// [data-theme='dark'] {
//   --background: black;
//   --text-primary: white;
//   --text-secondary: grey;
//   --accent: darkred;
// }