@import "../assets/styles/_variables.scss";

.footer {
  position: absolute;
  left: 0;
  right: 0;
  background-color: $primary-color;
  color: $primary-text-color;
  padding: 5vh 0px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
.copyright {
  text-align: center;
  margin-top: 1rem;
}
